body{
    background-color: #a7a7a7;
    margin: auto

}
h2{
    margin-bottom: 5px;
}
#list{
  padding: 0;
}
#title{
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 60px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;  
}
input[type=text], select {
    outline: none;
    text-align: center;
    width: 130px;
    background-color: #bbbbbb;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #2E475D;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    transition: 0.5s ease-in-out;
  }

input[type=text]:focus {
    border: 4px solid #2E475D;
    width: 30%;
  }

.todo {
    list-style: none;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    /* color: purple; */
  }
  
.todo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 200ms;
  }
  
.completed {
    color: rgba(77, 77, 77, 0.945);
    text-decoration: line-through;
  }

  .item {
    text-decoration: none;
    margin-right: 20px;
    background: transparent;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    position: relative;
    width: 30px;
    height: 50px;
    vertical-align: middle;
    margin-left: 5px;
}
.item:last-child {
  margin-right: 0;
}
.item::before, .item::after {
  content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #2E475D;
    width: 100%;
    height: 2px;
    transition: height .2s ease-out;
    border-radius: 3px;
    /* bottom: 20px; */
}

.item::before{
  transform: translate(-50%, -50%) rotate(45deg);
}
.item::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.item:hover:before, .item:focus:before, .item:hover:after, .item:focus:after {
  height: 4px;
}

